<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.member.MemberMapper">	<!-- MemberDAO클래스와 연결 -->

	<resultMap id="member" type="com.care.root.member.dto.MemberDTO">
		<id property="id" column="id" /> <!-- primarykey는 id로 지정 -->
		<result property="pw" column="pw" />
		<result property="addr" column="addr" />
	</resultMap>
	
	<!-- my version
	<select id="loginChk" resultMap="member">
		select * from membership where id=#{id}
	</select>
	 -->
	
	<select id="userCheck" resultMap="member">	<!-- resultMap : return type -->
		select * from membership where id=#{id}
	</select> 
	
	<select id="memberInfo" resultMap="member">
		select * from membership
	</select>
</mapper>